.principal{
    
    height: 110vh !important;
    background: url(/img/colombia.jpg) no-repeat center;
    background-size: cover;
text-align: center;
font-family: sans-serif;
p{
    
    font-size: 1.1em;
    color: $third-color;
    margin: 16px;
}


}
    .title{
        font-size: 2rem;
        color: $primary-color;
        padding: 80px;
        height: 16px;
        text-align: center;
    }