*{
margin: 0;
padding: 0;
border: 0;
font-size: 1.1rem;
vertical-align: baseline;
}

body{
font-size: 1.5rem;
text-align: justify;
font-family: sans-serif;
}
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Noto+Serif:ital@1&family=Poppins:ital,wght@0,500;1,500&family=Roboto+Slab:wght@300&display=swap');
@import "./colors";
@import "./header";
@import "./inicio";
@import "./logo";
@import "./secciones";
@import "./btn";
@import "./footer";


@media (max-width:700px ) { /* austes para el cuerpo cuando este en movil */

    body {
        font-size: 1rem;
    }
    .enlaces{
        a{
            color: aqua;
            padding: 0px 40px 0px 0px;
        }

    }
    .logo{
        margin: 0px;
        img{
            height: 0px;
        }
        a{
        margin: 0px -120px 0px 0px ;
        font-size: 0rem;
        }
    }
.principal{
    height: 105vh !important;
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
        text-align: center;
        color:aliceblue;
        margin: 10px 10px 20px 0px ;
    }
.title{
    color: aqua;
    padding: 70px 0px 18px 0px;
} 
}
}